body {
    background-color: #f9f9fa;
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
}

.userCard {
    background: linear-gradient(90deg, rgba(9,121,94,1) 24%, rgba(151,0,255,1) 100%);
    display: flex;
}

.card-block:nth-child(1) {
    padding: 1.25rem;
    flex: 20%;
    max-width: 20%;
}

.img-radius {
    border-radius: 50%;
}

.card-block:nth-child(2) {
    padding: 1.25rem;
    flex: 80%;
    max-width: 80%;
}

.row {
    display: flex;
}

.infoPart {
    margin-right: 20px;
}

.m-b-25 {
    margin-bottom: 25px;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px){
    p {
        font-size: 14px;
    }
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #bac7d3 !important;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


